.App {
  text-align: center;
  padding: 0px 10px;
}
main {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
.App-dark {
  background-color: #121212;
  color: white;
}
.light {
  background-color: white;
  color: black;
  transition: all 0.5s ease;
}
.dark {
  background-color: #121212d3;
  color: white;
  transition: all 0.5s ease;
}
