* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana;
}

button {
  background: rgb(71, 120, 255);
  color: aliceblue;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
